---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<a href="https://vimeo.com/user20581633">
		<img src="/logo.png" alt="Mirko Schernickau Logo" style="max-width: 100%; height: auto;" />
	</a>
</Layout>
